

.form {
  padding: 50px;
}




.btn {
  height: 35px;
  width: 150px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.list {
  list-style-type: none;
}

.removebtn {
  margin: 5px;
}

.save {
  background-color: cadetblue;
  height: 35px;
  width: 150px;
  margin-left: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.select {
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 300px;
  margin-bottom: 10px;
}


.green {
  color: green;
}

.removeAll {
  background-color: crimson;
}

nav {
  background-color: cadetblue;
  padding: 30px;
}
.nav-link {
  background-color: #CCCCCC;
  padding: 10px;
  margin: 50px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #282c34;
  text-decoration: none;
}

active {
  color: blueviolet;
  font-size: 50px;
}

li {
  align-content: center;
}

.people-list{
  line-height: 35px;
  width: 350px;
  margin: 0 auto;
}